<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>

</head>
<body>
<div class="container mt-5 col-md-4">
    <h2>Login</h2>

    <form th:action="@{/login}" method="post">
        <div class="mb-3">
            <label>Email</label>
            <input name="username" class="form-control" type="email" required/>
        </div>
        <div class="mb-3">
            <label>Password</label>
            <input name="password" class="form-control" type="password" required/>
        </div>

        <div th:if="${param.error}" class="alert alert-danger">
            Invalid email or password.
        </div>

        <div th:if="${param.logout}" class="alert alert-info">
            You have been logged out.
        </div>

        <button class="btn btn-yellow" type="submit">Login</button>
    </form>
</div>
</body>
</html>
