<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${#strings.isEmpty(artist.id) ? 'Add Artist' : 'Edit Artist'}">Artist Form</title>
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
    <link href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/webjars/font-awesome/6.4.0/css/all.min.css" rel="stylesheet"/>
    <link href="/css/styles.css" rel="stylesheet"/>

</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg" style="background-color: #2f3e46  ;">
        <div class="container-fluid">
            <a class="navbar-brand text-white" th:href="@{'/home'}">
                <i class="fas fa-home mx-1"></i> Home
            </a>

            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler text-white" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{'/artist'}">Artists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{'/producer'}">Producers</a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{'/login'}">
                            <i class="fas fa-sign-in-alt"></i> Sign In
                        </a>
                    </li>
                    <li class="nav-item">
                        <form method="post" th:action="@{/logout}">
                            <button class="btn btn-outline-light ms-2" type="submit">
                                <i class="fas fa-sign-out-alt"></i> Logout
                            </button>
                        </form>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</div>
<div class="container">

    <h2 th:text="${#strings.isEmpty(artist.id) ? 'Add New Artist' : 'Edit Artist'}">Artist Form</h2>

    <form class="needs-validation border rounded p-4 shadow-sm bg-white"
          method="post"
          th:action="@{${#strings.isEmpty(artist.id) ? '/artist/create' : '/artist/edit/' + artist.id}}"
          th:object="${artist}">

        <input th:field="*{id}" type="hidden"/>

        <div class="mb-3">
            <label for="sceneName">Scene Name</label>
            <input class="form-control" id="sceneName"
                   th:classappend="${#fields.hasErrors('sceneName')} ? 'is-invalid' : ''" th:field="*{sceneName}"
                   type="text">
            <div class="invalid-feedback" th:errors="*{sceneName}"
                 th:if="${#fields.hasErrors('sceneName')}">Invalid scene name
            </div>
        </div>

        <div class="mb-3">
            <label for="realName">Real Name</label>
            <input class="form-control" id="realName"
                   th:classappend="${#fields.hasErrors('realName')} ? 'is-invalid' : ''" th:field="*{realName}"
                   type="text">
            <div class="invalid-feedback" th:errors="*{realName}"
                 th:if="${#fields.hasErrors('realName')}">Invalid real name
            </div>
        </div>

        <div class="mb-3">
            <label for="dateOfBirth">Date of Birth</label>
            <input class="form-control" id="dateOfBirth"
                   th:classappend="${#fields.hasErrors('dateOfBirth')} ? 'is-invalid' : ''" th:field="*{dateOfBirth}"
                   type="date">
            <div class="invalid-feedback" th:errors="*{dateOfBirth}"
                 th:if="${#fields.hasErrors('dateOfBirth')}">Invalid date
            </div>
        </div>

        <div class="mb-3">
            <label for="originCountry">Origin Country</label>
            <input class="form-control" id="originCountry"
                   th:classappend="${#fields.hasErrors('originCountry')} ? 'is-invalid' : ''"
                   th:field="*{originCountry}"
                   type="text">
            <div class="invalid-feedback" th:errors="*{originCountry}"
                 th:if="${#fields.hasErrors('originCountry')}">Invalid country
            </div>
        </div>

        <button class="btn btn-yellow mb-3" type="submit">Save</button>
        <a class="btn btn-secondary mb-3" href="/artist">Cancel</a>
    </form>
</div>
</body>
</html>